<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th class="font-weight-bold">Nombre</th>
                    <th class="font-weight-bold">Telefono</th>
                    <th class="font-weight-bold">Detalles</th>
                </thead>
                <tbody>
                    <tr *ngFor="let p of personas; let i = index">
                        <ng-container *ngIf="p.status == '1'">
                            <td> {{p.nombre }} </td>
                            <td> {{p.telefono }} </td>
                            <td>
                                <button (click)="cambiarData(i)" type="button" class="btn btn-primary"
                                    data-toggle="modal" data-target="#exampleModal">
                                    Detalles
                                </button>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalles del Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img
                        src="https://img.freepik.com/free-vector/businessman-profile-cartoon_18591-58479.jpg?size=338&ext=jpg">
                    <span class="block badge badge-pill badge-success">Activo</span>
                    <ul>
                        <li>Nombre completo:
                            {{defaultperson.nombre+" "+defaultperson.primer_apellido+" "+defaultperson.segundo_apellido}}
                        </li>
                        <li>Numero Celular: {{defaultperson.telefono}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>